* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #ffe164;
  color: #1e3746;
}

/* contains whole page */

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* all content on page */

.content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  z-index: 0;
}

/* possible top section full-screen background */

.main-background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-background > img {
  max-width: 100%;
  position: absolute;
  height: 100vh;
}

/* top nav */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 80%;
  height: 10vh;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: sans-serif;
  letter-spacing: 1.1px;
}

/* about section */

.about {
  width: 100%;
  padding: 5px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.about > p {
  max-width: 300px;
  text-align: center;
}

/* menu section */

#menu {
  height: auto;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: rgb(196, 231, 106);
  color: #23356f;
}

#menu > h3 {
  text-align: center;
  padding: 7px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 700;
}

#menu > .smoothies {
  font-size: 1.4em;
  width: 150px;
  border-bottom: 2px solid #23356f;
}

#menu > .crepes {
  font-size: 1.5em;
  width: 150px;
  border-bottom: 2px solid #23356f;
}

#menu > .sandwiches {
  font-size: 1.5em;
  width: 150px;
  border-bottom: 2px solid #23356f;
}

#menu > .item {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.left, .right {
  width: 100%;
}

.left {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  width: 150px
}

.right {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

div.item:nth-child(18) > div:nth-child(2) {
  margin-bottom: 40px;
}

/* contact section  */

#contact {
  width: 100%;
  padding: 5px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(196, 231, 106);
  background: #23356f;
}

/* full-screen menu navigation */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(235, 96, 71);
  font-size: 1.2em;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #bbbbbb;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 1.5em;
}

@media all and ( max-width: 650px ) {
  .top {
    justify-content: space-between;
    width: 80%;
  }

  .item {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    padding: 1px;
  }

  .right, .left {
    text-align: center;
  }

  .toggle {
    font-size: 1.3em;
  }

  .logo {
    font-size: 1.3em;
  }

  .about > p {
    max-width: 250px;
    text-align: center;
  }

  .overlay a {font-size: 20px}
  .overlay .closebtn {
    top: 15px;
    right: 5px;
  }
}
